.refund-card {

  margin-top: 100px;
  background-color: blueviolet;
  width: 60%;
  margin: 10% auto;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);

}

@media only screen and (max-width: 600px) {
  .refund-card {
      width: 90%;
  }

}
