@import url('https://fonts.googleapis.com/css?family=Oxygen:400,700,900,1000') ;


.App {
  font-family: "Oxygen",sans-serif;
  font-weight: 700;
  text-align: center;

}


footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:rgb(33, 37, 41);
  color: white;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .navbar {
      justify-content: center;
  }

}
